body{
    background-color: #fff;
}

.conection label{
    font-size: 0.8em;
}

.conection input{
    color: gray;
}

.conection .btn-descargar{
    /* cursor: pointer; */
    cursor:unset;
    opacity:0.3;
}

.disabled{
    pointer-events: none;
}