{% load static %}
<html lang="es">
      <head>
       <title>SIG</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">                                                       
        <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/conectionForm.css' %}">
      </head> 
            
      <body>
        <nav class="navbar navbar-light bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand text-primary" href="#"><b>SIG</b></a>
          </div>
        </nav>
        
        <section class="banner pt-5 pb-5 mb-3" style="background-color: rgba(45, 52, 54,1.0)">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 text-wrap align-self-center">
                <h4 class="text-info">
                  Herramienta para <b>transformar</b> fácilmente los <b>datos Alfanuméricos</b> y <b>Geoespaciales en archivos 
                  geográficos</b> .shp .cpg .dbf .prj .shx
                </h4>
              </div>
              <div class="col-12 col-md-6">
                <img src="{% static 'img/banner.png' %}" width=400  alt="Imágen base de datos a archivo Shape" style="border-radius: 5px;">
              </div>
            </div>
          </div>
        </section>

        <section class="conection">
          <div class="container">
            <div class="row">
            <div class="col-xs-12 col-md-5 p-4 rounded-1" style="background-color: #fff">
              <!--Respuesta para el cliente-->
              <div class="alert alert-dismissible fade show alert-success" role="alert" data-mdb-color="warning" data-mdb-alert-init="" id="conexionMensaje" data-mdb-alert-initialized="true">
                <div id="msj"></div> 
                <button type="button" class="btn-close close" data-mdb-dismiss="alert" aria-label="Close"></button>
              </div>
                  <h4>Conexión</h4>
                  <p>
                    Ingrese las credenciales de la base de datos a la cual se conectará. Por defecto estan 
                    seteadas las de prueba.
                  </p>
                  <form id="conexionForm" action="{% url 'web:conection' %}" method="POST"> {% csrf_token %}
                    {{conectionForm}}
                    <button type="submit" class="btn btn-primary mt-4">Establecer Conexión</button>
                  </form> 
            </div>
            <div class="col-12 col-md-7 d-flex align-self-center justify-content-center">
              <form role="form" action="{% url 'web:download_files' %}" method="POST"> {% csrf_token %}
                <button type="submit" class="disabled" id="btnDescargar" style="border: none; cursor: unset;"><img id="btnImgDescargar" class="text-info btn-descargar" src="{% static 'css/icons/cloud-arrow-down-fill.svg' %}" width="300" alt="Descargar"/>
                </button>
              </form>
            </div>
            </div>
          </div>
        </section>

        {{ conectionForm.media }}
        <link rel="stylesheet" href="{% static 'js/mdb.es.min.js' %}">  
    </body>
</html>